<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="error-message">
                        {{ field.errors|striptags }}
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Submit"><br><br>
            <button class="login-btn"><a href="{% url 'login' %}">Login</a></button>

        </form>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <h2 {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h2>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
