/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Background */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    max-height: 620px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

/* Form Groups */
.form-group {
    margin-bottom: 5px; /* Reduced margin */
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
}
.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.error-message {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

/* Submit Button */
input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.login-btn {
    background-color: #28a745; /* Green background */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: -15px;
}

.login-btn:hover {
    background-color: #218838; /* Darker green on hover */
}
.login-btn a {
    text-decoration: none;  /* Removes underline */
    color: white;  /* White text color */
    display: block;
    width: 100%;
    text-align: center;
}


/* Messages */
.messages {
    margin-top: 20px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}

.messages h2 {
    font-size: 14px;
}

/* Responsive */
@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    .form-group input {
        font-size: 14px;
    }

    input[type="submit"] {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
    }
}

